/*Backgrounds*/
.tweed {
	background: url('../images/tweed.png') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .7);*/
	color: #eee;
}
.tweed-2x {
	background: url('../images/tweed_@2X.png') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .7);*/
	color: #eee;
}
.science {
	background: url('../images/science.png') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .7);*/
	color: #eee;
}
.fancy {
	background: url('../images/fancy.jpg') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .7);*/
	color: #eee;
}
.paper {
	background: url('../images/exclusive_paper.png') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .4);*/
	color: #444;
}
.paper-2x {
	background: url('../images/exclusive_paper_@2X.png') fixed;
	/*text-shadow: 2px 2px 2px rgba(0,0,0, .4);*/
	color: #444;
}

/*Elements*/
body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

.subhead {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}

#header, #header a, #header a:visited, #header a:hover {
	color: #fff;
}

.emph {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2em;
}

.navbar .emph, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover {
	color: #ccc;
	text-shadow: 2px 2px 0px rgb(0,0,0);
}

.pane {
	margin-top: 10%;
	margin-bottom: 12%;
}

.btn-contact, .btn-quals {
	background-color: #269;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px;
	-webkit-box-shadow: 4px 4px 0px 0px #333;
	-moz-box-shadow:    4px 4px 0px 0px #333;
	box-shadow:         4px 4px 0px 0px #333;
}

.btn-quals {
	background-color: #350;
}

.bottom {
	padding-bottom: 50%;
}


.faded {
	opacity:0;
}

.fast {
	transition:opacity 0.5s linear;
}

.slow {
	transition:opacity 1s linear;
}

.delay-025 {
	transition-delay: .25s;
}

.delay-05 {
	transition-delay: .5s;
}

.delay-075 {
	transition-delay: .75s;
}

.delay-1 {
	transition-delay: 1s;
}

.fadeIn {
	opacity: 1;
}


/*Animations*//*
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@-webkit-keyframes flyDown { 
	0% { transform:translateY(-20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes flyDown { 
	0% { transform:translateY(-20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;} 
}
@-o-keyframes flyDown { 
	0% { transform:translateY(-20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}
@keyframes flyDown { 
	0% { transform:translateY(-20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes flyUp { 
	0% { transform:translateY(20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}
@-moz-keyframes flyUp { 
	0% { transform:translateY(20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;} 
}
@-o-keyframes flyUp { 
	0% { transform:translateY(20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}
@keyframes flyUp { 
	0% { transform:translateY(20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}

@-webkit-keyframes flyRight { 
	0% { transform:translateX(-20px); opacity: 0;}
	100% { transform: translateX(0px); opacity: 1;}
}
@-moz-keyframes flyRight { 
	0% { transform:translateX(-20px); opacity: 0;}
	100% { transform: translateX(0px); opacity: 1;} 
}
@-o-keyframes flyRight { 
	0% { transform:translateX(-20px); opacity: 0;}
	100% { transform: translateX(0px); opacity: 1;}
}
@keyframes flyRight { 
	0% { transform:translateX(-20px); opacity: 0;}
	100% { transform: translateX(0px); opacity: 1;}
}

.begin {
	opacity: 0;
}

.fadeIn {
	opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    -o-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
}

.flyUp {
    -webkit-animation:flyUp ease-in 1;
    -moz-animation:flyUp ease-in 1;
    -o-animation:flyUp ease-in 1;
    animation:flyUp ease-in 1;
}

.flyDown {
    -webkit-animation:flyDown ease-in 1;
    -moz-animation:flyDown ease-in 1;
    -o-animation:flyDown ease-in 1;
    animation:flyDown ease-in 1;
}

.flyLeft {
    -webkit-animation:flyLeft ease-in 1;
    -moz-animation:flyLeft ease-in 1;
    -o-animation:flyLeft ease-in 1;
    animation:flyLeft ease-in 1;
}

.flyRight {
    -webkit-animation:flyRight ease-in 1;
    -moz-animation:flyRight ease-in 1;
    -o-animation:flyRight ease-in 1;
    animation:flyRight ease-in 1;
}

.delay-025 {
	-webkit-animation-delay:.25s;
    -moz-animation-delay:.25s;
    -o-animation-delay:.25s;
    animation-delay:.25s;
}

.delay-05 {
	-webkit-animation-delay:.5s;
    -moz-animation-delay:.5s;
    -o-animation-delay:.5s;
    animation-delay:.5s;
}

.delay-075 {
	-webkit-animation-delay:.75s;
    -moz-animation-delay:.75s;
    -o-animation-delay:.75s;
    animation-delay:.75s;
}

.delay-1 {
	-webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}

.fadeIn, .flyDown, .flyUp, .flyRight, .flyLeft {
	opacity:0;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

.fast {
	-webkit-animation-duration:.2s;
    -moz-animation-duration:.2s;
    -o-animation-duration:.2s;
    animation-duration:.2s;
}

.slow {
	-webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    animation-duration:.5s;
}*/