/*Backgrounds*/
.tweed {
	background-image: url('../images/tweed.png');
	/*background-attachment: fixed;*/
	text-shadow: 2px 2px rgba(0,0,0, .7);
	color: #eee;
	-webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 7px 2px 0px rgba(0, 0, 0, 0.5);
}
.tweed-2x {
	background-image: url('../images/tweed_@2X.png');
	/*background-attachment: fixed;*/
	text-shadow: 2px 2px 2px rgba(0,0,0, .7);
	color: #eee;
	-webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 7px 2px 0px rgba(0, 0, 0, 0.5);
}
.science {
	background-image: url('../images/science.png');
	background-attachment: fixed;
	color: #eee;
}
.fancy {
	background-image: url('../images/fancy.jpg');
	background-attachment: fixed;
	color: #eee;
}
.paper {
	background-image: url('../images/exclusive_paper.png');
	/*background-attachment: fixed;*/
	color: #444;
	-webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.paper-2x {
	background-image: url('../images/exclusive_paper_@2X.png');
	/*background-attachment: fixed;*/
	color: #444;
	-webkit-box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 7px 2px 0px rgba(0, 0, 0, 0.5);
	z-index: 2;
}
.isomet {
	background-image: url('../images/isomet.jpg');
	background-attachment: fixed;
	color: #444;
}

/**** Qualifications ****/

#quals h2, #quals h3 {
	color: #269;
	text-shadow: 1px 1px rgba(0,0,0,.4);
}

#quals .pane, #program .pane {
	background: rgba(255,255,255,.9);
	padding: 20px 20px 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    5px 5px 2px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         5px 5px 2px 0px rgba(0, 0, 0, 0.5);
}

#quals ul {
	list-style: none;
	font-size: 15px;
}

#quals ul>li:before {
	content: "\f101";
	margin-right: 5px;
	font-family: "FontAwesome";
	color: #269;
}

/*Programming*/

#program h2, #program h3 {
	color: #444;
	text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

#program {
	color: #666;
}

#program .fa {
	font-size: 10em;
	text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

#program .fa:hover {
	text-shadow: 4px 4px 2px rgba(34,102,153,.4);
}

#program i {
	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}

/*Contact*/

#contact-list ul {
	list-style: none;
}

#contact-list i {
	font-size: 2em;
	width: 60px;
}

#contact-list li {
	padding: 10px 0;
	font-size: 1.6em;
}

#contact-list a {
	color: #6AD;
}

#contact-list a:hover {
	text-decoration: none;
	border-bottom: 1px dashed #eee;
}

/*Navbar*/

.navbar .emph, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover {
	color: #ccc;
	text-shadow: 2px 2px 0px rgb(0,0,0);
}

/* Design Elements */
body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

p.subhead {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2em;
}

.emph {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2em;
}

.pane {
	margin-top: 10%;
	margin-bottom: 12%;
}

/* Sprocket Animation */

#hero {
	position: relative;
	overflow: hidden;
}

#hero .pane:before {
	position: absolute;
	top: -50vw;
	left: -75vw;
	font-size: 150vw;
    font-family: FontAwesome;
    content: "\f013";
    color: #fff;
    opacity: .25;
    -webkit-animation: spin 240s infinite linear;
    -moz-animation: spin 240s infinite linear;
    -ms-animation-name: spin 240s infinite linear;
    animation: spin 240s infinite linear;
    z-index: 1;
}

@media (min-width: 768px) {
	#hero .pane:before {
		left: -30vw;
		top: -35vw;
		font-size: 85vw;
	}
}

@media (min-width: 992px) {
	#hero .pane:before {
		top: -25vw;
		left: -20vw;
		font-size: 90vw;
	}		
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

/*Animation*/

.delay-5 {
	-webkit-animation-delay: .5s; /* Chrome, Safari, Opera */
    animation-delay: .5s;
}

.delay-1 {
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.delay-15 {
	-webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}

/*Buttons*/

.btn-contact, .btn-quals {
	background-color: #269;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 20px;
	-webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,.4);
	-moz-box-shadow:    4px 4px 2px 0px rgba(0,0,0,.4);
	box-shadow:         4px 4px 2px 0px rgba(0,0,0,.4);
	color: #eee;
	z-index: 2;
}

#contact input, #contact textarea {
	-webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,.4);
	-moz-box-shadow:    4px 4px 2px 0px rgba(0,0,0,.4);
	box-shadow:         4px 4px 2px 0px rgba(0,0,0,.4);
}

.btn-contact:hover, .btn-quals:hover {
	color: #eee;
	background-color: #333;
	-webkit-box-shadow: 4px 4px 2px 0px rgba(34,102,153,.4);
	-moz-box-shadow:    4px 4px 2px 0px rgba(34,102,153,.4);
	box-shadow:         4px 4px 2px 0px rgba(34,102,153,.4);
}

.btn-quals {
	background-color: #350;
}

/*Accents*/

#rocket h3:before {
	content:"\f135";
	font-family: "FontAwesome";
	position: absolute;
	right: 10px;
	color: rgba(255,153,0, .2);
	font-size: 7em;
	text-shadow: none;
}

#term h3:before {
	content: "\f120";
	font-family: "FontAwesome";
	position: absolute;
	right: 10px;
	color: rgba(35,117,54, .2);
	font-size: 7em;
	text-shadow: none;
}

#degree h3:before {
	content: "\f19c";
	font-family: "FontAwesome";
	position: absolute;
	right: 10px;
	color: rgba(35,76,117, .2);
	font-size: 7em;
	text-shadow: none;
}

.html5 {
	background: #e34c26;
	background: -moz-linear-gradient(left, #e34c26 0%, #e34c26 49%, #f06529 49%, #f06529 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e34c26), color-stop(49%,#e34c26), color-stop(49%,#f06529), color-stop(100%,#f06529));
	background: -webkit-linear-gradient(left, #e34c26 0%,#e34c26 49%,#f06529 49%,#f06529 100%);
	background: -o-linear-gradient(left, #e34c26 0%,#e34c26 49%,#f06529 49%,#f06529 100%);
	background: -ms-linear-gradient(left, #e34c26 0%,#e34c26 49%,#f06529 49%,#f06529 100%);
	background: linear-gradient(to right, #e34c26 0%,#e34c26 49%,#f06529 49%,#f06529 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e34c26', endColorstr='#f06529',GradientType=1 );
}

.css3 {
	background: #1e69de;
	background: -moz-linear-gradient(left, #1e69de 0%, #3690f0 49%, #54a3ee 49%, #6db3f2 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e69de), color-stop(49%,#3690f0), color-stop(49%,#54a3ee), color-stop(100%,#6db3f2));
	background: -webkit-linear-gradient(left, #1e69de 0%,#3690f0 49%,#54a3ee 49%,#6db3f2 100%);
	background: -o-linear-gradient(left, #1e69de 0%,#3690f0 49%,#54a3ee 49%,#6db3f2 100%);
	background: -ms-linear-gradient(left, #1e69de 0%,#3690f0 49%,#54a3ee 49%,#6db3f2 100%);
	background: linear-gradient(to right, #1e69de 0%,#3690f0 49%,#54a3ee 49%,#6db3f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=1 );
}
